@import "@/styles/colors";
@import "@/styles/variables";
@import "@/styles/mixins";

.componentWrapper {
  width: 100%;
  background: inherit;
  @include flexBox(flex-start, null, column, 4px);
  input::placeholder {
    color: $grey-100;
  }
  .input {
    @include widthHeight(inherit, 3rem);
    padding: 0.75rem;
    min-height: 3rem;
    border-radius: 0.25rem;
    background: $midnight-blue;
    @include border();
    @include inputText();
    &:not(.errStateInput):not(:focus):hover {
      @include border();
      background: $dark-slate-grey;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: $grey-100;
      @include border();
      border-radius: 0.25rem;
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: 0 0 0rem 62.5rem $midnight-blue inset;
    }
  }
  .errStateInput {
    @include border($red-400);
    &:focus {
      @include border($red-400);
    }
  }
}

.resetDefaultStyle {
  input {
    border: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
  }
  input {
    @include inputSelection;
  }
}
