@import "./mixins";
@import "./variables";
@import "./fonts";
@import "./colors";

:root {
  font-family: $figtree-regular;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: $white;
  background-color: $black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: $info;
  text-decoration: inherit;
}

a:hover {
  color: $info;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}