$primary: #0f1115;
$black-russian: #161920;
$primary-blue: #82a1fc;
$white: #ffffff;
$black: #000000;
$info: #5882fb;
$midnight-blue: #1a1e25;
$pale-grey: #d7dadc;
$dark-slate-grey: #282e37;
$light-grey: #999999;
$light-grey-50: #eee;
$transparant: transparent;
$dark-grey: #111111;
$grey-100: #777777;
$light-grey-100: #bbbbbb;
$gray-200: #242833;
$dark-grey-200: #12151b;
$rgba-gradient: #16192000;
$silver: #ddd;
$grey-600: #8c8c8c;
$blue-grey-700: #2c393f;
$red-400: #e35e58;
$blue-primary: #2c74d6;
$grey-300: #999;
$grey-500: #555555;
$green-100: #13961f;
$dark-blue-black: #1c2130;
$light-gray-100: #272b34;
$dark-gray-100: #16192099;
$dark-gray-200: #212b2f;
$royal-blue: #2e63fa;
$light-white-50: #ffffff33;
$light-white-100: #ffffff14;
$light-white-500: #ffffff21;
$dark-blue: #273237;
$blue-grey-300: #879195;
$black-400: #00000040;
$light-blue-primary: #a5efff33;
$light-blue-secondary: #6ebff40a;
$light-blue-ternary: #4690d400;
$yellow-700: #c89410;
$new-yellow: #b79e5f;
$blue-50: #97b1fd;
$red-300: #ea8682;
$green-200: #a6fdae;
$light-black-blue: #26292f;
$squid-ink: #2a2f39;
$black-russian-gradient: #16192033;
$navy-blue: #07172d;
$asparagus: #65964d;
$slate-grey: #667085;
$cerulean: #0079a4;
$alice-blue: #f1fafe;
$jungle-green: #10b391;
$pale-pink: #ffe1e2;
$pastel-red: #ff6d70;
$zinc: #aeb4bc;
$forest-green: #238738;
$medium-electric-blue: #0a57a1;
$gamboge: #d99b22;
$cadmium-red: #d9222a;
$caribbean-green: #01cbaa;
$neon-blue: #5259ff;
$jasper-red: #dd3c3c;
$purple-navy: #3f4168;
$indigo-dye: #094168;
$pale-aqua: #c5d5de;
$blanced-almond: #fde9cf;
$emerald-green: #2cbf61;
$sandy-brown: #f1a06a;
$anti-flash-white: #f5f8fa;
$lapis-lazuli: #005e9e;
$kelly-green: #24b200;
$shadow-gray: #444;
$white-smoke: #f6f6f6;
$gray-800: #0f1115a3;
$gold-ochre: #fbc743;
$alice-white: #f0f5f9;
$coquelicot: #ff3d00;
$gray-900: #3335414d;
$rgba-gradient-2: #00000080;
$dark-charcoal: #333333;
$rgba-background-light-1: #0f11151a;
$gray-125: #5f6c72;
$black-500: #1a1e25e0;
$ebony-black: #020202;
