@font-face {
  font-family: "figTree-regular";
  font-display: swap;
  src: url("../assets/fonts/figTree/Figtree-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "figTree-light";
  font-display: swap;
  src: url("../assets/fonts/figTree/Figtree-Light.ttf") format("truetype");
}

@font-face {
  font-family: "figTree-bold";
  font-display: swap;
  src: url("../assets/fonts/figTree/Figtree-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "figTree-medium";
  font-display: swap;
  src: url("../assets/fonts/figTree/Figtree-Medium.ttf") format("truetype");
}
