@import "@/styles/mixins";
@import "@/styles/colors";

.componentWrapper {
  padding-top: 11.25rem;
  padding-bottom: 8rem;
  z-index: 9;
  @include respondTo("tablet") {
    padding-top: 7.875rem;
    padding-bottom: 7.28rem;
  }
  @include respondTo("mobile") {
    padding-top: 4rem;
    padding-bottom: 3.5rem;
  }
  .heading {
    margin-bottom: 4rem;
    @include gridProps(null, null, null, 1rem, 1, #{1/8});

    @include respondTo("tablet") {
      margin-bottom: 2.5rem;
    }
    @include respondTo("mobile") {
      margin-top: 4rem;
      margin-bottom: 1.5rem;
    }
    .title {
      font-family: $figtree-light !important;
      @include respondTo("mobile") {
        line-height: 3.6rem;
      }
    }
  }
  .contentWrapper {
    @include positioning(relative, null, null, null, null);

    .videoContainer {
      height: 32.5rem;

      @include respondTo("tablet") {
        @include widthHeight(100%, 19.12rem);
      }
      @include respondTo("mobile") {
        @include widthHeight(100%, 10rem);
      }
    }
    .videoPlayer {
      border-radius: 1.5rem !important;
      @include respondTo("tablet") {
        border-radius: 1rem !important;
      }
    }
    .cardContainer {
      column-gap: 1rem;
      @include respondTo("tablet") {
        align-items: center;
      }

      .card1 {
        @include widthHeight(100%);
        z-index: 11;
        @include gridProps(null, null, null, null, 1, #{1/6});
        @include flexBox(center);
        @include respondTo("tablet") {
          @include gridProps(null, null, null, null, null, #{1/5});
          margin-top: 2.5rem;
          margin-bottom: 2.5rem;
        }
        @include respondTo("mobile") {
          @include gridProps(null, null, null, null, null, #{1/5});
          @include flexBox(unset, center);
          margin-top: unset;
          margin-bottom: unset;
        }
        .infoCard {
          align-self: unset;
        }
      }
      .card2 {
        @include gridProps(null, null, null, null, 1, #{5/13});
        z-index: 9;
        object-fit: contain;
        @include positioning(relative, null, null, null, null);
        @include respondTo("tablet") {
          @include gridProps(null, null, null, null, null, #{4/9});
          @include widthHeight(null, 100%);
        }
        @include respondTo("mobile") {
          @include gridProps(null, null, null, null, 2, #{1/5});
          padding: 0;
          @include widthHeight(calc(100% + 4rem), null);
          margin-left: -2rem;
          @include widthHeight(null, auto);
          margin-top: -4.5rem;
        }
        .cardImage {
          object-fit: contain;
          @include widthHeight(100%);
          @include respondTo("tablet") {
            object-fit: fill;
            @include widthHeight(null, 100%);
          }
          @include respondTo("mobile") {
            border-radius: 0;
            object-fit: contain;
          }
        }
      }
      .records {
        margin-top: 4rem;
      }
    }
  }
}

.resetBottomPadding {
  padding-bottom: unset;
  @include respondTo("tablet") {
    padding-bottom: unset;
  }
  @include respondTo("mobile") {
    padding-bottom: unset;
  }
}

.isCardHovered {
  cursor: pointer;
}
