@import "@/styles/mixins";
@import "@/styles/colors";

.ourVision {
  padding: 8rem 0;
  @include respondTo("tablet") {
    padding: 4.5rem 0;
  }
  @include respondTo("mobile") {
    padding: 4rem 0;
  }
}

.leftSectionWrapper {
  align-self: center;
  .leftSection {
    @include flexBox(null, null, column, 2rem, null);
    @include respondTo("mobile") {
      margin-bottom: 2.5rem;
      @include flexBox(null, null, column, 1.5rem, null);
    }
    .subText {
      line-height: 1.87rem;
      color: $light-grey-100;
      @include respondTo("mobile") {
        line-height: 1.5rem;
      }
    }
  }
}
.listContent {
  @include widthHeight(30.18rem, null);
  @include respondTo("mobile") {
    @include widthHeight(14.18rem, null);
  }
}
