@import "@/styles/mixins";
@import "@/styles/colors";

.ellipse {
  left: calc(100vw - 11.6rem) !important;
  top: -12% !important;
  @include widthHeight(11rem, 17.125rem);

  @include respondTo("mobile") {
    left: calc(100vw - 5rem) !important;
    @include widthHeight(5.5rem, 9rem);
  }
}

.leftEllipse {
  left: 0% !important;
  top: 2% !important;
  @include widthHeight(15rem, 22.06rem);

  @include respondTo("mobile") {
    display: none;
  }
}
