@import "@/styles/mixins";
@import "@/styles/colors";

.chipWrapper {
  flex: 1;
  .infoChip {
    @include flexBox(center, flex-end, null, 0.75rem, null);
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    border-radius: 2rem;
    width: fit-content;
    @include respondTo("tablet") {
      padding: 0.3rem 0.9rem 0.3rem 0.3rem;
      gap: 0.5rem;
    }
    @include respondTo("mobile") {
      padding: 0.5rem 1.5rem 0.5rem 0.5rem;
      gap: 0.75rem;
    }
    @include gradient(
      "linear",
      null,
      128deg,
      null,
      $squid-ink 0%,
      $black-russian-gradient 100%
    );

    .gradientBorder {
      @include flexBox(center, center, null, null, null);
      border-radius: 50%;
      @include gradient("linear", null, to top right, null, $grey-100, $white);

      .imageScale {
        @include widthHeight(2.2rem, 2.2rem);
        overflow: hidden;
        border-radius: 50%;
        object-fit: contain;

        .avatar {
          @include widthHeight(100%, 100%);
          background:
            linear-gradient($white, $white) padding-box,
            linear-gradient(to top right, $grey-100, $white) border-box;
          border-radius: 50em;
          @include border($transparant, 0.25rem, solid);
        }
      }
    }

    .name {
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0;
    }

    .title {
      color: var(--colors-grey-400, $grey-100);
      @include subtitle2;
    }
  }
}

.customInfoChip {
  padding: 0.2rem 0.3rem 0.2rem 0.4rem;
  margin-left: -0.3rem !important;
}
